/* FONTS */
@font-face {
    font-family: 'Inter';
    src: url(../fonts/Inter-Regular.woff);
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Inter';
    src: url(../fonts/Inter-Bold.woff);
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

/* GLOBAL */
* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
*:hover {
    transition: all 0.1s ease-in-out;
}
html {
    font-family: 'Inter', Arial, sans-serif;
    font-size: 62.5%;
    color: #000000;
}
h1 {
    font-weight: bold;
    font-size: 4rem;
    line-height: 120%;
    margin-bottom: 5px;
  }
h2 {
    font-weight: normal;
    font-size: 2.2rem;
    line-height: 120%;
    margin-bottom: 15px;
}
h3, h5 {
    font-weight: bold;
    font-size: 2.2rem;
    line-height: 120%;
    margin-bottom: 5px;
}
h4, h6 {
    font-weight: normal;
    font-size: 2rem;
}
p, ol, ul, a {
    font-size: 1.5rem;
    line-height: 1.5;
}
a {
    color: #000000;
}
a:hover {
    color: #5b5b5b;
}
ol, ul {
    margin-left: 20px;
}
span.h1__subtitle {
    font-weight: normal;
    font-size: 2rem;
}
div.separator {
    margin: 25px 0;
    background-color: #dcdcdc;
    height: 1px;
}
div.white {
    background-color: #ffffff;
}
.blank__separator {
    margin-bottom: 45px;
}
/* NAVBAR */
nav, footer {
    display: flex;
    align-items: center;
    background-color: #000000;
    min-height: 55px;
    padding: 10px 64px;
}
div.navbar__container, div.footer__container {
    width: 1400px;
    margin: 0 auto;
}
nav img, footer img {
    max-width: 180px;
}

/* HEADER */
div.header__img, div.header__name {
    flex-basis: 50%;
}
div.header__info {
    flex-basis: 20%;
}
div.header__img {
    background-image: url("../images/banner_bg.webp");
    background-position: center;
    background-size: cover;
    min-height: 300px;
}
div.header__container {
    margin-top: -100px;
    padding: 0 64px;
}
div.header__headline {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
    max-width: 1400px;
    margin: 0 auto;
    padding: 35px;
    min-height: 180px;
    background: rgba(255, 255, 255, 0.85);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); 
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);  
    border-radius: 15px;
    gap: 40px;
}
img.headline__picture {
    max-width: 180px;
    border-radius: 10px;
    border: 4px solid #ffffff;
}
div.header__info__item {
    display: flex;
    flex-flow: row nowrap;
    margin-bottom: 15px;
}
div.header__info__item .big {
    align-items: center;
}
div.header__info__item img {
    margin-right: 8px;
}

/* CONTENIDO */
main {
    padding: 0 64px;
}
main p, main ol, main ul {
    margin-bottom: 20px;
}
div.main__container {
    max-width: 1400px;
    margin: 84px auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    gap: 40px;
}
section.main__content {
    flex-basis: 60%;
}

/* CARRUSEL */
.carousel {
    position: relative;
    width: 100%;
}
.carousel__preview {
    display: flex;
    gap: 10px;
}
.carousel__preview img {
    cursor: pointer;
    width: 32.44%;
    border-radius: 5px;
}
.carousel__lightbox {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    display: none;
}
.carousel__lightbox .carousel__close {
    position: absolute;
    top: 20px;
    right: 20px;
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
}
.carousel__lightbox .carousel__lightbox__img {
    max-width: 90%;
    max-height: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
} 

/* IFRAME RESPONSIVE */
div.iframe__responsive {
	height: 0;
	overflow: hidden;
	padding-bottom: 56.25%;
	padding-top: 30px;
	position: relative;
    border-radius: 5px;
}
div.iframe__responsive iframe, div.iframe__responsive object, div.iframe__responsive embed {
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	}

/* ACORDÉON */
details.accordion__item {
    margin-bottom: 10px;
}
details.accordion__item summary {
    font-size: 1.6rem;
    font-weight: bold;
    background-color: #ececec;
    padding: 18px 25px;
    cursor: pointer;
    border-radius: 5px;
}
div.accordion__container details[open] summary {
    margin-bottom: 10px;
  }
details.accordion__item summary:hover {
    background-color: #d7d7d7;
}
details.accordion__item p {
    padding: 25px;
    margin: 0 0 10px 0;
}
/* FORMULARIO */
aside {
    flex-basis: 30%;
}
div.form__container {
    position: -webkit-sticky;
    position: sticky;
    top: 40px;
    bottom: 40px;
    background-color: #f7be34;
    padding: 35px;
    text-align: center;
    border-radius: 15px;
}
form {
    text-align: left;
    font-size: 1.5rem;
}
div.form__message {
    padding: 20px 0;
}
select, textarea {
    width: 100%;
    padding: 8px;
    margin: 10px 0;
    border-radius: 5px;
    font-family: 'Inter', Arial, sans-serif;
    font-size: 1.5rem;
    outline: none;
    border: solid 1px #ffffff;
}
select:hover, textarea:hover {
    border: solid 1px #bfbfbf;
}
textarea:focus {
    border: solid 1px #000000;
}
button {
    background-color: #000000;
    border: solid 1px #000000;
    color: #ffffff;
    width: 100%;
    padding: 18px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1.6rem;
    font-weight: bold;
}
button:hover {
    background-color: #ffffff;
    border: solid 1px #000000;
    color: #000000;
}
button:active {
    background-color: #f7be34;
}

/* MEDA QUERY */
@media (max-width: 600px) {
    div.navbar__container, div.footer__container {
        text-align: center;
    }
    div.header__container {
        padding: 0 20px;
    }
    div.header__headline {
        justify-content: left;
    }
    div.header__info {
        flex-basis: 100%;
    }
    main {
        padding: 0 20px;
    }
    div.main__container {
        margin: 40px 0px;
        flex-flow: column-reverse;
    }
}
@media (min-width: 600px) and (max-width: 900px) {
    div.header__container {
        padding: 0 40px;
    }
    div.header__info {
        flex-basis: 100%;
    }
    div.header__headline {
        justify-content: flex-start;
    }
    main {
        padding: 0 40px;
    }
    div.main__container {
        margin: 40px 0px;
        flex-flow: column-reverse;
    }
  }